# Assessment - 4 Gradable

- Each question carries 5 marks
- Marks will be assigned in terms of:

    **1. Expected output**

    **2. Quality and Explainability of code**

    ***Go back through the script and type a comment above each line explaining in English what it does.***

    **3. Copied code, if found, will result in 0 marks for that question. To avoid this make as much comments in the code to explain the approach**

### 1.

Write a function ``clap_tap`` that prints the integers from 1 to 100. But for multiples of three print "Clap" instead of the number, and for the multiples of five print "Tap". For numbers which are multiples of both three and five print "ClapTap".

In [5]:
def clap_tap():
    for i in range (1,101):
        if i%3==0 and i%5==0:
            print('ClapTap')
        elif i%5==0:
            print('Tap')
        elif i%3==0  :
            print('Clap')
        else:
            print(i)
clap_tap()

1
2
Clap
4
Tap
Clap
7
8
Clap
Tap
11
Clap
13
14
ClapTap
16
17
Clap
19
Tap
Clap
22
23
Clap
Tap
26
Clap
28
29
ClapTap
31
32
Clap
34
Tap
Clap
37
38
Clap
Tap
41
Clap
43
44
ClapTap
46
47
Clap
49
Tap
Clap
52
53
Clap
Tap
56
Clap
58
59
ClapTap
61
62
Clap
64
Tap
Clap
67
68
Clap
Tap
71
Clap
73
74
ClapTap
76
77
Clap
79
Tap
Clap
82
83
Clap
Tap
86
Clap
88
89
ClapTap
91
92
Clap
94
Tap
Clap
97
98
Clap
Tap

### 2.

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter and returns False if both words begin with different letter
- animal_crackers('Levelheaded Lion') --> True
- animal_crackers('Cute Kangaroo') --> False

In [8]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]
animal_crackers('nikhil nag')

True

### 3.

Create a function ``shout_out`` Given a string, return a string where:
#### for every character in the original there are three characters

    - shout_out('character') --> 'ccchhhaaarrraaacccttteeerrr'
    - shout_out('original') --> 'ooorrriiigggiiinnnaaalll'

In [15]:
def shout_out(text):
    strg=''
    for i in text:
        k= i*3
        strg +=  k
    return strg
shout_out('niks')

'nnniiikkksss'

 4.

Create a function ``ignore_6_to_9`` that returns the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

- ignore_6_to_9([1, 3, 5]) --> 9
- ignore_6_to_9([4, 5, 6, 7, 8, 9]) --> 9
- ignore_6_to_9([2, 1, 6, 9, 11]) --> 14

In [22]:
def ignore_6_to_9(lst):
    sums= 0
    for i in lst:
        if i in range(6,10):
            continue
        else:
            sums+=i
    return sums
ignore_6_to_9([4,5,6,7,8,9])

9

### 5.

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

- Current Number 0 Previous Number  0  Sum:  0
- Current Number 1 Previous Number  0  Sum:  1 and so on

In [3]:
total=0
for i in range(11):
    total+=i
    print(i)
    print('sum is ',total)

0
sum is  0
1
sum is  1
2
sum is  3
3
sum is  6
4
sum is  10
5
sum is  15
6
sum is  21
7
sum is  28
8
sum is  36
9
sum is  45
10
sum is  55