# Iterative Statements
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Tom and Bob are playing a game of dice. Each time a multiple of two comes up Tom gets a point and if a multiple of 3 comes up bob gets a point. If a multiple of both comes up then a point is deducted from both. Write a program to take a list as input consisting of 10 outcomes of the dice throw. Print the scores of both Tom and bob and the winner.

In [12]:
Dice=list(map(int,input('Enter the 10 Outcomes of dice throw  ').split()))
Tom=0
Bob=0
for i in Dice:
    if i%2==0 and i%3==0:
        Tom-=1
        Bob-=1
    elif i%3==0:
        Bob+=1
    elif i%2==0:
        Tom+=1
    else:pass
print(Tom)
print(Bob)
if Tom > Bob:
    print('Tom is winner')
else:
    print('Bob is winner')

Enter the 10 Outcomes of dice throw  2 4 5 1 3 4 2 5 1 3 6
3
1
Tom is winner

##### 2. Write a program to take a list of 10 numbers as input in single line and find out the largest element.

In [8]:
num=list(map(int,input('Enter the 10 numbers  ').split()))
print(max(num))
print(num)

Enter the 10 numbers  10 15 14 14 12 14 20
20
[10, 15, 14, 14, 12, 14, 20]

#### 3. Write a program to take a number as input and find out whether it is prime or not.

In [33]:
num = int(input('enter the number '))
if num > 1 :
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
     print(num, "is not a prime number")

enter the number 1487
1487 is a prime number

#### 4. Take a list and a number as input, print all consecutive pairs of two numbers from the list having sum equal to the given number.

In [63]:
li=list(map(int,input().split()))
num=int(input ('enter the number'))

for i in range (len(li)-1):
        x=li[i]
        y=li[i+1]
        c=x+y
        if c == num  :
            print(x,y)

10 20 30 14 15 15 14 16
enter the number30
10 20
15 15
14 16

#### 5. Take a string as input and find out the number of words with even length and number of words with odd length.

In [64]:
sting=input('enter the string ')
li=sting.split()
even=0
odd=0
for i in li:
    if len(i)%2==0:
        even+=1
    else:
        odd+=1
        
print(even)
print(odd)

enter the string nikhi sukale is nij ygt frouyt
3
3

#### 6. Write a program to sort a given list using selection sort algorithm. (study selection sort and implement)

In [110]:
lst=[14,10,2,22,11]
for i in range(len(lst)-1):
    min = i
    for j in range(i + 1, len(lst)):
        if(lst[j] < lst[min]):
            min = j
    lst[i], lst[min] = lst[min], lst[i]
print(lst)

[2, 10, 11, 14, 22]

In [112]:
lst=[100,14,10,2,22,11]
for i in range(len(lst)-1):
    mi = i
    for j in range(i + 1, len(lst)):
        if(lst[j] < lst[mi]):
            mi = j
    lst[i], lst[mi] = lst[mi], lst[i]
print(lst)

[2, 10, 11, 14, 22, 100]

#### 7. Write a program to sort a given list using bubble sort algorithm. (Study bubble sort and implement)

In [131]:
li=[15 ,16 ,17 ,21 ,24 ,28]
for j in range(len(li)):
    swapped = False
    i = 0
    while i<len(li)-1:
        if li[i]>li[i+1]:
            li[i],li[i+1] = li[i+1],li[i]
            swapped = True
        i = i+1
    if swapped == False:
        break
print (li)

[15, 16, 17, 21, 24, 28]

#### 8. Take a string and a word and input. Find the frequenecy of occurrence of the word in the given string. (Without using any inbuilt function)

In [136]:
string=list(input().split())
word=input('enter the word  ')
count=0
for i in string:
    if i== word :
        count+=1
print(count)

is is is is
enter the wordis
4

#### 9. Write a program to print the following pattern:

In [ ]:
'''
5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1
'''
print()

In [104]:
for i in range(6):
    for j in range(i):
        print(" ", end=" ")
    for j in range(5-i,0,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

#### 10. Write a program to print the following pattern:

In [ ]:
'''
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''
print()

In [84]:
for i in range (5,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1